<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!---font icon CDN----->
    <link rel="stylesheet" href="../includes/header.css" />
    <link rel="stylesheet" href="../includes/footer.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function () {
        $("#header").load("../includes/header.html");
        $("#footer").load("../includes/footer.html");
      });
    </script>
    <link rel="stylesheet" href="./../styles/what's_on.css" />
    <title>What's On</title>
  </head>

  <body>
    <!-- <div class="home_slideshow"></div> -->
    <div id="header"></div>
    <section>
      <h3 class="headers">Coming Soon</h3>
      <div class="movie-card-section">
        <div class="card">
          <img src="./../images/HowlsMovingCastle.jpg" />
          <div class="card-content">
            <p class="movie-name">Howl's Moving Castle</p>
            <br />
            <text style="margin-left: 7%">Release Date: 20/04/2024</text>
          </div>
        </div>
        <div class="card">
          <img src="./../images/Pincessmononoke.jpg" />

          <div class="card-content">
            <p class="movie-name">Princess Mononoke</p>
            <br />
            <text style="margin-left: 7%">Release Date: 01/06/2024</text>
          </div>
        </div>
        <div class="card">
          <img src="./../images/whisperoftheheart.jpg" />
          <div class="card-content">
            <p class="movie-name">Whisper Of the Heart</p>
            <br />
            <text style="margin-left: 7%">Release Date: 31/07/2024</text>
          </div>
        </div>
        <div class="card">
          <img src="./../images/Myneighbourtotoro.jpg" />
          <div class="card-content">
            <p class="movie-name">My Neighbor Totoro</p>
            <br />
            <text style="margin-left: 7%">Release Date: 04/08/2024</text>
          </div>
        </div>
      </div>
    </section>

    <div id="footer"></div>
  </body>
</html>
