<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/contact-us.css" />
		<title>Contact Us</title>
	</head>
	<body>
		<div class="container">
			<div class="contact form">
				<header>Contact Us</header>
				<p id="thankYouMessage">
					Thank you for using our website. If you have any questions or require support then please contact us using the
					form bellow.
				</p>
				<form action="">
					<div>
						<input type="text" placeholder="Enter your name" id="name" required />
					</div>
					<div>
						<input type="text" placeholder="Enter your email" id="email" required />
					</div>
					<div>
						<textarea cols="60" rows="10" placeholder="Enter your message" id="message" required></textarea>
					</div>
					<input type="submit" class="button" value="Submit" />
				</form>
			</div>
		</div>

		<script src="./../validations/contact.js"></script>
	</body>
</html>
