<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./styles/header.css" />
    <link rel="stylesheet" href="./styles/footer.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


    <script>
        $(function () {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        });
    </script>
</head>

<body>
    <div id="header"></div>
    <!-- slide  show -->
    <div id="slideshow">
        <div class="slide"><img src="../images/Howlmovingcastlelandscape.jpg" alt="Slide 1"></div>
        <div class="slide"><img src="../images/ponyolanscape.jpg" alt="Slide 2"></div>
        <div class="slide"><img src="../images/RamadanOffer.jpg" alt="Slide 3"></div>
        <!-- Previous and Next buttons -->
        <button id="prev" class="button"><img src="../images/Arrowleft.png" alt="Arrowleft"
                style="height: 50px;"></button>
        <button id="next" class="button"><img src="../images/Arrowright.png" alt="Arrowleft"
                style="height: 50px;"></button>
    </div>



    <section>
        <h3 class="headers">What's On</h3>
        <div class="movie-card-section">
            <div class="card">
                <img id="myDiv" src="./../images/upFromThePoppyHill.jpg" />
                <!-- <p id="tooltip-text">MOVIE DETAILS</p> -->
                <div class="card-content">
                    <p class="movie-name">Up From The Poppy Hill</p>

                </div>
            </div>
            <div class="card">
                <img src="./../images/ponyo.jpg" />

                <div class="card-content">
                    <p class="movie-name">Ponyo</p>

                </div>
            </div>
            <div class="card">
                <img src="./../images/YourName.jpg" />

                <div class="card-content">
                    <p class="movie-name">Your Name</p>

                </div>
            </div>
            <div class="card">
                <img src="./../images/castleInTheSky.jpg" />

                <div class="card-content">
                    <p class="movie-name">Castle In The Sky</p>
                </div>
            </div>

            <div class="card">
                <img src="./../images/whenMarnieWasThere.jpg" />

                <div class="card-content">
                    <p class="movie-name">When Marnie Was There</p>
                </div>
            </div>
            <div class="card">
                <img src="./../images/theWindRises.jpg" />

                <div class="card-content">
                    <p class="movie-name">The Wind Rises</p>
                </div>
            </div>
            <div class="card">
                <img src="./../images/kiksDelivery.jpg" />

                <div class="card-content">
                    <p class="movie-name">kiki's delivery service</p>
                </div>
            </div>
            <div class="card">
                <img src="./../images/SpiritedAway.jpg" />

                <div class="card-content">
                    <p class="movie-name">Spirited Away</p>
                </div>
            </div>
        </div>

        <!---movie-card--->

        <div class="show">
            <div class="show-bar"></div>
        </div>
        <h3 class="headers">Coming Soon</h3>
        <!-- coming soon  -->
        <div class="movie-card-section">


            <div class="card">
                <img id="myDiv" src="../images/HowlsMovingCastle.jpg" />
                <div class="card-content">
                    <p class="movie-name">Howl's Moving Castle</p>

                </div>
            </div>
            <div class="card">
                <img src="./../images/Pincessmononoke.jpg" />

                <div class="card-content">
                    <p class="movie-name">Princess Mononoke</p>

                </div>
            </div>
            <div class="card">
                <img id="myDiv" src="../images/whisperoftheheart.jpg" />
                <div class="card-content">
                    <p class="movie-name">Whisper Of the Heart</p>

                </div>
            </div>
            <div class="card">
                <img id="myDiv" src="../images/Myneighbourtotoro.jpg" />
                <div class="card-content">
                    <p class="movie-name">My Neighbor Totoro</p>

                </div>
            </div>

        </div>

    </section>






    <div id="footer"></div>
    <script src="../js/index.js"></script>
</body>

</html>