<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!---font icon CDN----->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="./../styles/upFromThePoppyHill.css" />
    <title>Up From The Poppy Hill</title>
  </head>

  <body>
    <header>
      <nav>
        <p class="logo"></p>
        &nbsp;
        <i class="fa fa-bars" id="menu"></i>

        <ul>
          <li><a href="">Home</a></li>
          <li id="currentPage"><a href="./what's_on.html">Movies</a></li>
          <li><a href="">Tickets</a></li>
          <li><a href="">offers</a></li>
          <li><a href="">contact us</a></li>
          <li><b>sign out</b></li>
        </ul>
      </nav>
    </header>

    <span id="tooltip">
      <div id="tooltip-content">
        <!-- TOOLTIP IMAGE -->
        <img src="./../images/upFromThePoppyHill.jpg" />
        <text id="title">Up From The Poppy Hill</text><br />
        <div id="under-title">
          <text>2011</text>
          <text>7+</text>
          <text>1 h 31 m</text>
          <text>Language: Japanese</text>
          <hr />
        </div>
        <!-- TOOLTIP GENRE -->
        <div id="genre-box">
          <text>Melodrama</text>
          <text>Romance</text>
          <text>Coming-of-age</text>
        </div>
        <!-- TOOLTIP RATING -->
        <span id="rating">
          <text>4.8</text>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
          <i class="fa fa-star-half-o fa-2x" aria-hidden="true"></i>
        </span>

        <!-- TOOLTIP MOVIE DESCRIPTION -->
        <h5>Director: Gorō Miyazaki</h5>
        <p id="description">
          The movie is based on the 1980 serialized manga of the same name
          illustrated by Chizuru Takahashi and written by Tetsurō Sayama. Set in
          1963 Yokohama, Japan, the film tells the story of Umi Matsuzaki, a
          high school girl living in her grandmother's boarding house called
          "Coquelicot Manor". When Umi meets Shun Kazama, a member of the
          school's newspaper club, they decide to clean up the school's
          clubhouse, Quartier Latin. However, Tokumaru, the chairman of the
          local high school and a businessman, intends to demolish the building
          for redevelopment and Umi and Shun, along with Shirō Mizunuma, must
          persuade him to reconsider.
        </p>
      </div>
    </span>
    <!-- <span class="home_slideshow">
      <text id="title">Up from the poppy hill</text>
      <img
        id="poster"
        src="https://i.pinimg.com/564x/f9/ca/02/f9ca029dd184e86dc0922d4b587ac3a9.jpg"
      />
    </span> -->
  </body>
</html>
