<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!---font icon CDN----->
    <link rel="stylesheet" href="../includes/header.css" />
    <link rel="stylesheet" href="../includes/footer.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function () {
        $("#header").load("../includes/header.html");
        $("#footer").load("../includes/footer.html");
      });
    </script>
    <link rel="stylesheet" href="./../styles/what's_on.css" />
    <title>What's On</title>
  </head>

  <body>
    <!-- <div class="home_slideshow"></div> -->
    <div id="header"></div>
    <a href="javascript:void(0);" id="backToTop" class="back-to-top">
      <i class="arrow"></i><i class="arrow"></i>
    </a>
    <section>
      <h3 class="headers">WHAT'S ON</h3>
      <div class="movie-card-section">
        <div class="card">
          <a href="upFromThePoppyHill.html">
            <img id="activate" src="./../images/upFromThePoppyHill.jpg" />
          </a>
          <div class="card-content">
            <a href="upFromThePoppyHill.html">
              <p class="movie-name">Up From The Poppy Hill (2011)</p>
            </a>
            <!-- ToolTip For Movie -->
            <span id="tooltip">
              <div id="tooltip-content">
                <!-- TOOLTIP IMAGE -->
                <img src="./../images/upFromThePoppyHill.jpg" />
                <text>Up From The Poppy Hill</text><br />
                <!-- TOOLTIP RATING -->
                <span id="rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <text>4.8</text>
                </span>
                <!-- TOOLTIP GENRE -->
                <div id="genre-box">
                  <text>Melodrama</text>
                  <text>Romance</text>
                  <text>Coming-of-age</text>
                </div>
                <!-- TOOLTIP TICKETS AND SHOW TIMES -->
                <div id="tickets">
                  <span class="fa-stack">
                    <i class="fa fa-ticket" aria-hidden="true"></i>
                    <strong class="fa-stack-1x ticket-text">09:00</strong>
                  </span>
                  <span class="fa-stack">
                    <i class="fa fa-ticket" aria-hidden="true"></i>
                    <strong class="fa-stack-1x ticket-text">12:00</strong>
                  </span>
                  <span class="fa-stack">
                    <i class="fa fa-ticket" aria-hidden="true"></i>
                    <strong class="fa-stack-1x ticket-text">15:00</strong>
                  </span>
                </div>
                <!-- TOOLTIP MOVIE DESCRIPTION -->
                <p>
                  Two high schoolers find hope as they fight to save an old
                  wartime era clubhouse from destruction during the preparations
                  for the 1964 Tokyo Olympics.
                </p>
              </div>
            </span>
          </div>
        </div>
        <div class="card">
          <img src="./../images/ponyo.jpg" />

          <div class="card-content">
            <p class="movie-name">Ponyo</p>
          </div>
        </div>
        <div class="card">
          <img src="./../images/YourName.jpg" />

          <div class="card-content">
            <p class="movie-name">Your Name</p>
          </div>
        </div>
        <div class="card">
          <img src="./../images/castleInTheSky.jpg" />

          <div class="card-content">
            <p class="movie-name">Castle In The Sky</p>
          </div>
        </div>

        <div class="card">
          <img src="./../images/whenMarnieWasThere.jpg" />

          <div class="card-content">
            <p class="movie-name">When Marnie Was There</p>
          </div>
        </div>
        <div class="card">
          <img src="./../images/theWindRises.jpg" />

          <div class="card-content">
            <p class="movie-name">The Wind Rises</p>
          </div>
        </div>
        <div class="card">
          <img src="./../images/kiksDelivery.jpg" />

          <div class="card-content">
            <p class="movie-name">kiki's delivery service</p>
          </div>
        </div>
        <div class="card">
          <img src="./../images/SpiritedAway.jpg" />

          <div class="card-content">
            <p class="movie-name">Spirited Away</p>
          </div>
        </div>
        <div class="card">
          <img src="./../images/crimsonPig.jpeg" />

          <div class="card-content">
            <p class="movie-name">Crimson Pig</p>
          </div>
        </div>
        <div class="card">
          <img src="./../images/Nausicaä of the Valley of the Wind.jpg" />

          <div class="card-content">
            <p class="movie-name">Nausicaä of the Valley of the Wind</p>
          </div>
        </div>
        <div class="card">
          <img src="./../images/theWindRises.jpg" />

          <div class="card-content">
            <p class="movie-name">The Wind Rises</p>
          </div>
        </div>
        <div class="card">
          <img src="./../images/theWindRises.jpg" />

          <div class="card-content">
            <p class="movie-name">The Wind Rises</p>
          </div>
        </div>
      </div>
      <!---movie-card--->

      <div class="show">
        <div class="show-bar">
          <div class="bar"></div>
        </div>
        <button class="show-more">Show more</button>
      </div>
    </section>
    <div id="footer"></div>
    <script src="./../js/what's_on.js"></script>
  </body>
</html>
