<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/CSS/ContactUs.css">
	<title>Contact Us</title>
</head>
<body>
	<!-- put navbar call here -->
	<div class="wrapper">
		<span id="title">Contact us</span>
		<div>
			<p>
				Thank you for using our Cinema Reservation Website. If you have any questions or require support then please contact us using the form bellow.
			</p>
		</div>
		<div class="contactFormContainer">
			<form action="" class="contactForm">
				<input type="text" placeholder="Name">
				<input type="text" placeholder="Email">
				<input type="text" placeholder="Message" id="messageTextBox">
				<button type="button" id="contactFormSubmit">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>