<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!---font icon CDN----->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="./../styles/what's_on.css" />
    <title>What's On</title>
  </head>

  <body>
    <header>
      <nav>
        <p class="logo"></p>
        &nbsp;
        <i class="fa fa-bars" id="menu"></i>

        <ul>
          <li>Home</li>
          <li id="currentPage">Movies</li>
          <li>Tickets</li>
          <li>offers</li>
          <li>contact us</li>
          <li><b>sign out</b></li>
        </ul>
      </nav>
    </header>
    <!-- <div class="home_slideshow"></div>  -->
    <section>
      <h3 class="headers">WHAT'S ON</h3>
      <div class="movie-card-section">
        <div class="card">
          <img id="myDiv" src="./../Pictures/upFromThePoppyHill.jpg" />
          <!-- <p id="tooltip-text">MOVIE DETAILS</p> -->
          <div class="card-content">
            <p class="movie-name">Up From The Poppy Hill (2011)</p>
            <span class="tooltip">Movie Details</span>
          </div>
        </div>
        <div class="card">
          <img src="./../Pictures/ponyo.jpg" />

          <div class="card-content">
            <p class="movie-name">Ponyo</p>
          </div>
        </div>
        <div class="card">
          <img src="./../Pictures/YourName.jpg" />

          <div class="card-content">
            <p class="movie-name">Your Name</p>
          </div>
        </div>
        <div class="card">
          <img src="./../Pictures/castleInTheSky.jpg" />

          <div class="card-content">
            <p class="movie-name">Castle In The Sky</p>
          </div>
        </div>

        <div class="card">
          <img src="./../Pictures/whenMarnieWasThere.jpg" />

          <div class="card-content">
            <p class="movie-name">When Marnie Was There</p>
          </div>
        </div>
        <div class="card">
          <img src="./../Pictures/theWindRises.jpg" />

          <div class="card-content">
            <p class="movie-name">The Wind Rises</p>
          </div>
        </div>
        <div class="card">
          <img src="./../Pictures/kiksDelivery.jpg" />

          <div class="card-content">
            <p class="movie-name">kiki's delivery service</p>
          </div>
        </div>
        <div class="card">
          <img src="./../Pictures/SpiritedAway.jpg" />

          <div class="card-content">
            <p class="movie-name">Spirited Away</p>
          </div>
        </div>
      </div>
      <!---movie-card--->

      <div class="show">
        <div class="show-bar">
          <div class="bar"></div>
        </div>
        <button>Show more</button>
      </div>
    </section>
    <script src="./../javascripts/what's_on.js"></script>
  </body>
</html>
