@font-face {
	font-family: "Ghibli";
	src: url(../fonts/Eyad\ Al-Samman\ -\ Ghibli.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Ghibli", sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0 10px;
	background-image: url(./../images/Background2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
}

form {
	padding: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
	background: #ffffff;
	max-width: 1000px;
	width: auto;
	border-radius: 7px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

form h2 {
	font-size: 27px;
	text-align: center;
	margin: 0px 0 30px;
}

form .form-group {
	margin-bottom: 15px;
	position: relative;
}

form label {
	display: block;
	font-size: 15px;
	margin-bottom: 7px;
}

form input,
form select {
	height: 45px;
	padding: 10px;
	width: 100%;
	font-size: 15px;
	outline: none;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #bfbfbf;
}

form input:focus,
form select:focus {
	border-color: #9a9a9a;
}

form input.error,
form select.error {
	border-color: #f91919;
	background: #f9f0f1;
}

form small {
	font-size: 14px;
	margin-top: 5px;
	display: block;
	color: #f91919;
}

.confirm_details-btn {
	margin-top: 30px;
}

.confirm_details-btn input {
	color: white;
	border: none;
	height: auto;
	font-size: 16px;
	padding: 13px 0;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 500;
	text-align: center;
	background: #33b0de;
	transition: 0.2s ease;
}

.confirm_details-btn input:hover {
	background: #146fef;
}

.payment-form {
	display: none;
	cursor: default;
}
