@font-face {
  font-family: "Ghibli";
  src: url(../fonts/Eyad\ Al-Samman\ -\ Ghibli.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ghibli";
}
body {
  min-height: 100vh;
  width: 100%;
  background-image: url(./../images/Background2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#thankYouMessage {
  margin-bottom: 20.8px;
  text-align: center;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.container .form {
  padding: 2rem;
}
.form h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input,
textarea {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  border-radius: 6px;
  outline: none;
}
.form div {
  margin-bottom: 1.3rem;
  padding: 0 15px;
  height: auto;
}
.form input:focus,
textarea:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form .buttonContainer {
  display: flex;
  justify-content: space-around;
}
.form .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  border: none;
  border-radius: 6px;
  color: #fff;
  background: #33b0de;
  box-shadow: inset 0 0 50px #146fef;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form .buttonContainer a {
  text-decoration: none;
}
.form .button:hover {
  background: #338bde;
  box-shadow: inset 0 0 50px #0069fbac;
}
#message {
  height: 100px;
  min-height: 100px;
  max-height: 200px;
  align-content: center;
  resize: vertical;
}
.noError {
  border: 1px solid #ddd;
}
.errorBox {
  border: 1px solid #f91919;
  background-color: #f9f0f1;
}
.errorMessage {
  margin-top: 7px;
  padding-left: 5px;
  color: red;
}
