/*-----css movie site -----*/
@font-face {
  font-family: "Ghibli";
  src: url(Eyad\ Al-Samman\ -\ Ghibli.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  background: #d0ffc9;
  background-image: url(./../images/Background2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

/* header {
  width: 100%;
  position: fixed;
  padding-top: 80px;
  height: 17%;
  background-color: #33b0de;
  top: 0;
  font-family: "Ghibli";
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 50px #146fef;
}

header nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  position: fixed;
  top: 5px;
  left: 0;
  z-index: 99;
  width: 80%;
}

header nav .fa {
  cursor: pointer;
  display: none;
}

header nav .fa:hover {
  color: white;
}

header nav .logo {
  top: 0;
  font-weight: 500;
  font-size: 1.5em;
  width: 150px;
  height: 90px;
  background-image: url(./../images/Studio_Ghiblinet_Logo-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

header nav .logo span {
  color: white;
}

header nav ul .marker {
  background: white;
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
  font-family: "Ghibli";
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  list-style: none;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

header nav ul li {
  cursor: pointer;
}

header nav ul li span {
  display: flex;
  gap: 8px;
  align-items: center;
}

header nav ul li img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
} */

/* #currentPage {
  text-decoration: underline white 2px;
  text-underline-offset: 7px;
  font-family: "Ghibli";
} */

.headers {
  color: #013e48;
  font-weight: 500;
  padding: 20px 100px;
  /* margin-left: 10%; */
  font-size: x-large;
  text-decoration: underline;
  text-underline-offset: 13px;
  text-decoration-color: #013e48;
  top: 25%;
  left: 0;
  font-family: "Ghibli";
}

section {
  margin-top: 2%;
}

section .movie-card-section {
  /* background:#f40000; */
  padding: 20px 100px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  padding-top: 50px;
  border-radius: 10px;
}

section .movie-card-section .card {
  margin-bottom: 20px;
  color: #013e48;
  text-transform: uppercase;
  width: 250px;
  /* 
  -webkit-text-stroke-width: 0.3px; */
  /* -webkit-text-stroke-color: #33b0de; */
}

section .movie-card-section .card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

section .movie-card-section .card .card-content .movie-name {
  font-size: 18px;
  margin-top: 10px;
  font-family: "Ghibli";
  text-align: center;
}

section .movie-card-section .card .card-content .movie-info {
  font-size: 0.95em;
  margin-top: 10px;
}

section .movie-card-section .card .card-content .movie-info span {
  color: #666;
}

section .movie-card-section .card .card-content .movie-info .d3 {
  background: #33b0de;
  border-radius: 50%;
  font-size: 0.5em;
  color: #146fef;
  padding: 3px;
  margin-left: 3px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

section .show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  /* background: #111; */
  padding: 10px 100px;
  padding-bottom: 40px;
}

section .show .show-bar {
  background: #fff;
  width: 100%;
  height: 4px;
  border-radius: 50px;
  overflow: hidden;
}
.editmovie {
  border: none;
  outline: none;
  width: 80px;
  padding: 15px 0;
  font-size: 15px;
  border-radius: 50px;
  background: #33b0de;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0 0 50px #146fef;
}
.addmovie {
  border: none;
  outline: none;
  width: 300px;
  padding: 15px 0;
  font-size: 1em;
  border-radius: 50px;
  background: #33b0de;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0 0 50px #146fef;
}

/* slide show */
#slideshow {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.slide {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* Style for buttons */
.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border: none;
  padding: 0px;
  cursor: pointer;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

/* Button Scroll Up */

.back-to-top {
  position: fixed;
  bottom: -40px;
  right: 40px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #335dff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.back-to-top:focus {
  color: #fff;
}
.back-to-top.show {
  bottom: 40px;
  right: 40px;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.back-to-top.show:hover {
  color: #fff;
  bottom: 30px;
  opacity: 1;
}
.arrow {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
  position: absolute;
  width: 12px;
  height: 12px;
  background-size: contain;
  transform: rotate(-90deg);
  top: 30%;
  left: 40%;
}
.arrow:nth-child(2) {
  top: 42%;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: rotate(-90deg) translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: rotate(-90deg) translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
}

.back-to-top:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.back-to-top:hover .arrow:nth-child(2) {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media only screen and (max-width: 575px) {
  .back-to-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .back-to-top.show {
    bottom: 10px;
    right: 10px;
  }
  .back-to-top.show:hover {
    bottom: 10px;
  }
  .arrow {
    top: 27%;
    left: 37%;
  }
}
