@font-face {
  font-family: "Ghibli";
  src: url(./../fonts/Eyad\ Al-Samman\ -\ Ghibli.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
  font-family: "Ghibli";
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  background-image: url(./../images/Background2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

/* #currentPage {
  text-decoration: underline white 2px;
  text-underline-offset: 7px;
  font-family: "Ghibli";
} */

#page-content {
  display: block;
  width: 100%;
}

#tooltip {
  position: absolute;
  background-image: url(./../images/bannerUpFrom.png);
  background-size: 100%;
  width: 100%;
  height: 660px;
  left: 0;
  top: 0;
  z-index: 1;
}

#under-title {
  position: relative;
  top: 20px;
  font-size: small;
}

#under-title text {
  border-right: solid 1.5px white;
  padding-right: 5px;
  color: white;
}

#tooltip-content {
  width: 90%;
  margin: 10%;
}

#tooltip hr {
  margin-top: 20px;
  width: 90%;
  border: solid 0.7px white;
}

#tooltip img {
  position: absolute;
  height: 50%;
  border-radius: 10px;
  top: 45%;
}

#tooltip #rating {
  right: 4%;
  width: 20%;
  justify-content: center;
  margin: 5%;
  position: absolute;
}

#tooltip #rating .fa {
  color: white;
  position: relative;
  display: grid;
  justify-content: right;
  margin-right: 20px;
}

#tooltip #rating text {
  position: relative;
  margin-bottom: 5px;
  display: flex;
  justify-content: right;
  font-size: 50px;
  font-weight: bold;
  font-family: "Ghibli";
  color: white;
}

#tooltip #title {
  position: relative;
  top: 10px;
  font-weight: bolder;
  font-family: "Ghibli";
  color: white;
  font-size: 40px;
}

#genre-box {
  position: relative;
  top: 25px;
  margin-right: 10%;
  font-family: "Ghibli";
  font-size: x-small;
  color: white;
  display: flex;
  align-content: space-evenly;
  gap: 6px;
}

#genre-box text {
  padding: 5px;
  border: solid 1px white;
  border-radius: 20px;
}

/* Tooltip Description */
#tooltip #description {
  font-family: "Ghibli";
  font-size: 12px;
  position: relative;
  display: block;
  justify-content: end;
  top: 170px;
  left: 20%;
  width: 35%;
  color: white;
  word-spacing: 5px;
  line-height: 20px;
}

#tooltip h5 {
  font-family: "Ghibli";
  position: relative;
  top: 150px;
  left: 20%;
  color: white;
}

#details {
  position: absolute;
  top: 660px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  height: 250px;
  color: #013e48;
  border: solid 1.5px #013e48;
  border-radius: 15px;
  padding: 30px;
  justify-content: space-evenly;
}

#genre {
  position: relative;
  float: left;
  display: grid;
  width: 45%;
  margin-left: 5%;
  height: 100%;
}

#show-times {
  position: relative;
  float: right;
  width: 45%;
  justify-content: center;
  margin-right: 5%;
  height: 100%;
  border-radius: 15px;
  color: #013e48;
  display: grid;
}

#show-times .fa {
  font-size: 20px;
}

#trailer {
  position: relative;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 20px;
  height: 500px;
  top: 930px;
}

#trailer video {
  border-radius: 20px;
  object-fit: fill;
}

button {
  position: relative;
  top: 1000px;
  float: right;
  margin-right: 5%;
  border: none;
  outline: none;
  width: 300px;
  padding: 15px 0;
  font-size: 1em;
  border-radius: 50px;
  background: #33b0de;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0 0 50px #146fef;
  margin-bottom: 1050px;
}

button:hover {
  background: #338bde;
  box-shadow: inset 0 0 50px #0069fbac;
}
