/*-----css movie site -----*/
@font-face {
  font-family: "Ghibli";
  src: url(./../fonts/Eyad\ Al-Samman\ -\ Ghibli.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  background-image: url(./../images/Background2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-width: 700px;
}

header {
  width: 100%;
  position: fixed;
  padding-top: 80px;
  height: 17%;
  z-index: 2;
  /* background-color: #468657	; */
  background-color: #33b0de;
  top: 0;
  font-family: "Ghibli";
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background:rgba(0,0,0,.75);  */
  box-shadow: inset 0 0 50px #146fef;
}

header nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  position: fixed;
  top: 5px;
  left: 0;
  z-index: 99;
  width: 80%;
}

header nav .logo {
  top: 0;
  font-weight: 500;
  font-size: 1.5em;
  width: 150px;
  height: 90px;
  background-image: url(./../images/Studio_Ghiblinet_Logo-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

header nav .logo span {
  color: white;
}

header nav ul .marker a {
  background: white;
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
  font-family: "Ghibli";
  color: white;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  list-style: none;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

header nav ul li {
  cursor: pointer;
}

header nav ul li span {
  display: flex;
  gap: 8px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
  font-size: inherit;
}

header nav .fa {
  cursor: pointer;
  display: none;
}

header nav .fa:hover {
  color: white;
}

#currentPage {
  text-decoration: underline white 2px;
  text-underline-offset: 7px;
  font-family: "Ghibli";
}

.headers {
  color: #013e48;
  font-weight: 500;
  padding: 20px 100px;
  /* margin-left: 10%; */
  font-size: x-large;
  text-decoration: underline;
  text-underline-offset: 13px;
  text-decoration-color: #013e48;
  top: 25%;
  left: 0;
  font-family: "Ghibli";
}

section {
  margin-top: 10%;
  min-width: 50px;
}

section .movie-card-section {
  /* background:#f40000; */
  padding: 20px 100px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  padding-top: 50px;
  border-radius: 10px;
}

section .movie-card-section .card {
  margin-bottom: 20px;
  color: #013e48;
  text-transform: uppercase;
  width: 250px;
  position: relative;

  /* 
  -webkit-text-stroke-width: 0.3px; */
  /* -webkit-text-stroke-color: #33b0de; */
}

section .movie-card-section .card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

section a {
  text-decoration: none;
  color: #013e48;
}

section .movie-card-section .card .card-content .movie-name {
  font-size: 18px;
  margin-top: 10px;
  font-family: "Ghibli";
  text-align: center;
}

section .movie-card-section .card .card-content .movie-info {
  font-size: 0.95em;
  margin-top: 10px;
}

section .movie-card-section .card .card-content .movie-info span {
  color: #666;
}

section .movie-card-section .card .card-content .movie-info .d3 {
  background: #33b0de;
  border-radius: 50%;
  font-size: 0.5em;
  color: #146fef;
  padding: 3px;
  margin-left: 3px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

section .show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  /* background: #111; */
  padding: 10px 100px;
  padding-bottom: 40px;
}

section .show .show-bar {
  background: #fff;
  width: 100%;
  height: 4px;
  border-radius: 50px;
  overflow: hidden;
}

section .show .show-bar .bar {
  width: 50%;
  height: inherit;
  background: #33b0de;
  border-radius: 50px;
}

section .show button {
  border: none;
  outline: none;
  width: 300px;
  padding: 15px 0;
  font-size: 1em;
  border-radius: 50px;
  background: #33b0de;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0 0 50px #146fef;
}

/* ----------TOOLTIP STUFF-------- */
#tooltip {
  position: absolute;
  background: #33b0de;
  box-shadow: inset 0 0 1000px #146fef;
  width: 125%;
  height: 100%;
  left: 110%;
  top: -5%;
  z-index: 1;
  border-radius: 10px;
}

#tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #258ff9 transparent transparent;
  /* box-shadow: inset 0 0 50px #146fef; */
}

#tooltip-content {
  width: 90%;
  margin: 10%;
}

#tooltip img {
  position: absolute;
  width: 40%;
  height: 40%;
}

#tooltip #rating .fa {
  /* transform: scale(5); */
  /* color: rgb(255, 228, 73); */
  color: white;
  position: relative;
  top: 180px;
  left: inherit;
}

#tooltip #rating text {
  position: relative;
  top: 178px;
  left: 5px;
  font-size: medium;
  font-weight: bold;
  font-family: "Ghibli";
  /* color: rgb(255, 228, 73); */
  color: white;
}

#tooltip text {
  position: relative;
  top: 170px;
  /* border-bottom: solid 2px black; */
  font-family: "Ghibli";
  color: white;
}

#tickets {
  position: absolute;
  top: 30px;
  right: 0%;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40%;
  justify-content: right;
  float: right;
  display: grid;
}

#tickets .fa {
  position: relative;
  top: 12.5px;
  right: 40px;
  transform: scaleX(9) scaleY(4) rotateZ(45deg);
  /* color: rgba(255, 213, 2, 0.826); */
  color: white;
}

#tickets .ticket-text {
  font-family: "Ghibli";
  margin-top: 0.8em;
  left: -50px;
  font-size: 15px;
  z-index: 2;
  color: #0051c3;
}

#genre-box {
  position: relative;
  top: 25px;
  margin-right: 10%;
  font-family: "Ghibli";
  font-size: x-small;
  color: white;
  display: flex;
  align-content: space-evenly;
  gap: 6px;
}

#genre-box text {
  padding: 5px;
  border: solid 1px white;
  border-radius: 20px;
}

/* Tooltip Description */
#tooltip p {
  font-family: "Ghibli";
  font-size: x-small;
  position: relative;
  top: 215px;
  color: white;
  word-spacing: 5px;
}

/*---footer------*/
footer {
  background: #222;
  color: #fff;
  padding: 40px 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

footer .logo-box {
  font-size: 0.85em;
}

footer .logo-box .logo {
  font-size: 1.8em;
  font-weight: 700;
}

footer .logo-box .logo span {
  color: #db0000;
}

footer ul {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer ul li {
  cursor: pointer;
  color: #888;
}

footer ul li:nth-child(1) {
  color: #fff;
}

footer ul li:hover {
  color: #fff;
}

footer .socail-box {
  display: flex;
  gap: 10px;
  justify-content: end;
}

footer .socail-box .fa {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

footer .socail-box .fa:hover {
  background: #fff;
  color: #db0000;
}

@media (min-width: 1024px) and (max-width: 1080px) {
  section .movie-card-section {
    grid-template-columns: auto auto auto;
    gap: 15px;
  }
}

@media (min-width: 720px) and (max-width: 1023px) {
  header nav ul {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    color: #fff;
    background: #000;
    width: 100%;
    height: 100vh;
    padding: 20px 30px;
  }

  header nav .fa {
    cursor: pointer;
    display: block;
  }

  header .popular-movie-slider {
    padding: 10px 50px;
  }

  header .popular-movie-slider .poster {
    width: 250px;
    height: 300px;
  }

  section .movie-ticket-book {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
  }

  section .movie-ticket-book .choose-date .wrapper,
  section .movie-ticket-book .choose-time .wrapper {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  section .movie-ticket-book .choose-date .carousel,
  section .movie-ticket-book .choose-time .carousel {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  section .movie-ticket-book .choose-date .carousel .owl-nav,
  section .movie-ticket-book .choose-time .carousel .owl-nav {
    color: #db0000;
    position: absolute;
    width: 110%;
    top: 50%;
    left: -50%;
    transform: translate(0%, -50%);
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
  }

  section .movie-ticket-book .choose-date .wrapper .marker,
  section .movie-ticket-book .choose-time .wrapper .marker {
    width: 60px;
    height: 2px;
    background: #db0000;
    position: absolute;
    left: 45%;
    transform: translate(-50%, 0);
  }

  section .movie-ticket-book button {
    width: 20%;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  section .filter-search-box {
    padding: 20px 50px;
  }

  section .filter-search-box .filters-box {
    gap: 10px;
  }

  section .filter-search-box .search-bar {
    left: 50px;
    width: 85%;
  }

  section .movie-card-section {
    padding: 20px 50px;
    grid-template-columns: auto auto auto;
  }

  section .movie-card-section .card img {
    width: 100%;
    height: 300px;
  }

  section .show {
    padding: 10px 50px;
    padding-bottom: 40px;
  }

  footer {
    padding: 40px 50px;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

@media (min-width: 0px) and (max-width: 719px) {
  header {
    height: auto;
    padding-bottom: 30px;
  }
  header nav {
    padding: 10px 20px;
  }

  header nav ul {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    color: #fff;
    background: #000;
    width: 100%;
    height: 100vh;
    padding: 20px 30px;
  }

  header nav .fa {
    cursor: pointer;
    display: block;
  }

  header .popular-movie-slider {
    padding: 10px 20px;
    display: block;
  }

  header .popular-movie-slider .poster {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  section .movie-ticket-book {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
  }

  section .filter-search-box {
    padding: 20px 20px;
  }

  section .filter-search-box .filters-box {
    gap: 10px;
  }

  section .filter-search-box .search-bar {
    left: 20px;
    width: 90%;
  }

  section .movie-card-section {
    padding: 20px 20px;
    grid-template-columns: auto auto;
  }

  section .movie-card-section .card img {
    width: 100%;
    height: 300px;
  }

  section .show {
    padding: 10px 20px;
    padding-bottom: 40px;
  }

  footer {
    padding: 40px 20px;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 0.85em;
  }

  section .filter-search-box {
    gap: 20px;
    overflow-x: scroll;
  }

  section .filter-search-box::-webkit-scrollbar {
    display: none;
  }

  section .filter-search-box .search-filters input {
    width: 50px;
    padding: 5px 10px;
  }

  section .movie-ticket-book {
    padding: 30px 0px;
  }

  section .movie-ticket-book button {
    margin-top: 10px;
  }
}
