@font-face {
  font-family: "Ghibli";
  src: url(./../fonts/Eyad\ Al-Samman\ -\ Ghibli.otf);
}

header {
  width: 100%;
  position: fixed;
  padding-top: 80px;
  height: 17%;
  z-index: 2;
  /* background-color: #468657    ; */
  background-color: #33b0de;
  top: 0;
  font-family: "Ghibli";
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background:rgba(0,0,0,.75);  */
  box-shadow: inset 0 0 50px #146fef;
}

header nav {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 100px; */
  position: fixed;
  top: 5px;
  left: 0;
  z-index: 99;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

header nav .logo {
  top: 0;
  font-weight: 500;
  font-size: 1.5em;
  width: 150px;
  height: 90px;
  background-image: url(./../images/Studio_Ghiblinet_Logo-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: fill;
}

#pazas-logo {
  width: 100px;
  height: 110px;
  top: 0;
  margin-left: 50px;
  /* background-color: black; */
  object-fit: fill;
  /* background-image: url(./../images/Logo-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: 100%; */
}

#pazas-logo img {
  width: 140px;
  height: 140px;
}

header nav .logo span {
  color: white;
}

header nav ul .marker a {
  background: white;
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
  font-family: "Ghibli";
  color: white;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  list-style: none;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

header nav ul li {
  cursor: pointer;
}

header nav ul li span {
  display: flex;
  gap: 8px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
  font-size: inherit;
}

header nav .fa {
  cursor: pointer;
  display: none;
}

header nav .fa:hover {
  color: white;
}

.sign-in-up {
  float: right;
}

.sign-in-up a {
  margin: 0px;
}

.login-btn {
  background-color: inherit;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 0.3s ease; /* Add transition effect for box-shadow */
}
.login-btn:hover {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5); /* Add white box-shadow on hover */
}
